<div class="grid grid-col place-items-center mt-20 mx-8">
  <p class="text-center text-4xl mb-10 text-gray-200">SpaceX launches 🚀</p>

  <ul class="list-disc text-slate-300">
    <li> Angular v16 configurado para uso de standalone components y sin uso de modulos </li>
    <li>Tailwindcss con Angular</li>
    <li> Consumo de la API de SpaceX</li>
    <li><a class="text-cyan-400" href="https://angular.dev/guide/components/dom-apis">Uso de Dialog y el ElementRef en Angular </a> </li>
  </ul>
</div>
